.selector-containner{
    width: 100%;
    display: flex;
    justify-content: start;
    overflow-x: auto;
    .cell-card{
        flex: 0 0 19%;
        margin: 5px;
        position: relative;
        .cell-containner{
            position: relative;
            width:100%;
            aspect-ratio: 2 / 1;
            right: 0;
            .color-div{
                position: absolute;
                right: 0;
                bottom: 0;
            }
            img{
                position: absolute;
                height: auto;
                right: 0;
                bottom: 0;
            }
        }
    }
}