.map-container{
    height: 100%;
    aspect-ratio: 100 / 53;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    //overflow-y: hidden;
    background: #355197;
    margin: auto;
}
.map-div {
    width: 100%;
    height: 94.34%;
    background-color: lightblue; 
    display: grid;
    grid-template-columns: 12.5% 75% 12.5%;
    grid-template-rows: 12.5% 75% 12.5%;
    position: relative;
}
.top-side,.bottom-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .block {
        width: 11.11%;
        height: 100%;
        background-color: chocolate;
        position: relative;
        .empty-land {
            position: absolute;
            width:100%;
            aspect-ratio: 2 / 1;
            top: 0;
            left: 0;
            img {
                position: absolute;
                left: 0;
                bottom: 0;
                width:100%;
                height: auto;
            }
        }
        .road-bg {
            background-size: cover; // 或 contain，按需
            width:100%;
            aspect-ratio: 4 / 1;
            position: absolute;
            bottom: 0;
        }
    }
}

.top-side {
    .road-bg {
            background-image: url('@/assets/road2.svg');
    }
}

.bottom-side {
    .road-bg {
            background-image: url('@/assets/road-bottom.svg');
    }   
}

.side {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .block {
        height: 11.11%;
        width: 100%;
        background-color: chocolate;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }
}
.left-side {
    .block {
        .empty-land {
            position: absolute;
            height:100%;
            aspect-ratio: 2 / 1;
            right: 0;
            img {
                position: absolute;
                right: 0;
                bottom: 0;
                width:110%;
                height: auto;
                transform: scaleX(-1);
            }
        }
        .road-bg-v {
            position: absolute;
            left: 0;
            height:100%;
            aspect-ratio: 1 / 1;
        }
    }
}
.right-side {
    .block {
        .empty-land {
            position: absolute;
            height:100%;
            aspect-ratio: 2 / 1;
            left: 0;
            img {
                position: absolute;
                left: 0;
                bottom: 0;
                width:110%;
                height: auto;
            }
        }
        .road-bg-v {
            position: absolute;
            right: 0;
            height:100%;
            aspect-ratio: 1 / 1;
            transform: scaleX(-1);
        }
    }
}

.map-div{
    .center {
        background-color: lavenderblush;
    }
}


.road-bg-v {
  background-image: url('@/assets/road_v.svg');
  background-size: cover; // 或 contain，按需
  aspect-ratio: 1 / 1;
}
.empty-land{
    background-image: url('@/assets/emptyland.svg');
    background-size: 100% 100%; // 或 contain，按需 
    background-repeat: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .notice{
        text-align: center;
        position: absolute;
        left:0;
        right:0;
        margin-top: 0;
        font-size: 1.4vh;
        font-family: "STXinwei", "FZWeibei", "Weibei SC", serif;
        color: #333;
    }
}
.corner-top-right {
    width:100%;
    height: 100%;
    position: relative;
    background-color: #D3E6A1;
    background-image: url('@/assets/road-corner2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    img{
        position: absolute;
        left: 0;
        bottom: 33.33%;
    }
    .notice{
        position: absolute;
        left: 44%;
        top: 0%;
        font-size: 1.7vh;
        font-family: "STXinwei", "FZWeibei", "Weibei SC", serif;
    }
}
.corner-top-left {
    width:100%;
    height: 100%;
    position: relative;
    .background{
        width:100%;
        height: 100%;
        background-color: #D3E6A1;
        background-image: url('@/assets/road-corner2.svg');
        transform: scaleX(-1);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom left; 
        img{
            position: absolute;
            left: 0;
            bottom: 33.33%;
        }
    }
    .notice{
        position: absolute;
        left: 44%;
        top: 0%;
        font-size: 1.7vh;
        font-family: "STXinwei", "FZWeibei", "Weibei SC", serif;
    }
}
.corner-bottom-right {
    width:100%;
    height: 100%;
    position: relative;
    background-color: #D3E6A1;
    background-image: url('@/assets/road-bottom-corner2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    img{
        position: absolute;
        left: 0;
        bottom: 33.33%;
    }
    .notice{
        position: absolute;
        left: 23%;
        top: 0%;
        font-size: 1.7vh;
        font-family: "STXinwei", "FZWeibei", "Weibei SC", serif;
    }
}

.corner-bottom-left {
    width:100%;
    height: 100%;
    position: relative;
    .background{
        width:100%;
        height: 100%;
        background-color: #D3E6A1;
        background-image: url('@/assets/road-bottom-corner2.svg');
        transform: scaleX(-1);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center left;
        img{
            position: absolute;
            left: 0;
            bottom: 33.33%;
        }

    }
    .notice{
        position: absolute;
        left: 60%;
        top: 0%;
        font-size: 1.7vh;
        font-family: "STXinwei", "FZWeibei", "Weibei SC", serif;
    }
}